.App {
  margin: 20px;
}

.MuiTypography-root {
  margin-bottom: 20px;
}

.MuiCard-root {
  transition: transform 0.2s;
}

.MuiCard-root:hover {
  transform: scale(1.05);
}
.header {
  background-color: #3f51b5; /* Header background color */
  color: white; /* Text color */
  padding: 16px; /* Padding around the header */
  font-family: 'Roboto', sans-serif; /* Font style */
}
